@media(max-width:1200px){

.hero h1{
font-size:62px;
}

.services-grid{
grid-template-columns:repeat(2,1fr);
}

.stats{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:992px){

.navbar{
padding:18px 5%;
}

nav{
gap:18px;
}

.hero{
padding:140px 5%;
}

.hero h1{
font-size:52px;
}

.hero p{
font-size:16px;
}

.section-title h2{
font-size:44px;
}

.rocket-scene{
right:2%;
transform:scale(0.85);
}

}

@media(max-width:768px){

nav{
display:none;
}

.hero{
padding:130px 5%;
min-height:100vh;
}

.hero-content{
width:100%;
}

.hero h1{
font-size:42px;
line-height:1.2;
}

.hero p{
font-size:
